@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #1f2937;
}

@layer components {
  .card {
    @apply grid place-content-center rounded-lg text-white font-bold text-2xl;
  }
}

.welcome {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px 15px;
  width: auto;
  height: auto;
  border-radius: 5px;
  z-index: 50;
  color: black;
  font-size: 1rem;
  text-align: center;
  background-color: white;
}